.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-container {
  background-color: black; /* Background color for the entire game area */
  /* display: flex; Align the grid inside the container */
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  width: 100%; /* Take the full width of the parent element */
  height: 100%; /* Take the full height of the parent element */
}

.game-grid {
  display: flex; /* Align rows horizontally */
  flex-direction: column; /* Stack rows vertically */
}
